@import url(./global.css);


.brecho__sol {
    color: white;
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
}

.brecho_container {
    background-color: #566E4D;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
}

.brecho__card {
    align-items: center;
    border-bottom: 2px solid #8ea087;
    display: flex;
    margin: auto;
    max-width: 85%;
}

.brecho__card img {
    margin-bottom: 2rem;
    height: auto;
    width: 50%;
}

.lista {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    text-align: left;
    width: 100%;
}

.lista p {
    padding-bottom: 1rem;
}

.lista li {

    list-style-type: square;
}

/*Estilização do mapa*/

.titulo-mapa {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Playpen Sans', cursive;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    padding: 2rem;
}

.mapa-container {
    display: flex;
    height: auto;
    gap: 2rem;
    justify-content: space-between;
    margin: auto;
    max-width: 85%;
    padding-bottom: 9rem;
}

.mapa-card {
    align-items: center;
    height: auto;
    width: 60%;
}

.mapa-card iframe {
    height: 100%;
    width: 100%;
    margin-top: 2rem;

}

address {
    color: #4B4F58;
    font-family: Arial, sans-serif;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 600;
    margin: auto;
    max-width: 100%;
    padding-top: 1rem;
    text-align: center;
}

.mapa-endereco {
    color: #4B4F58;
    font-family: Arial, sans-serif;
    font-size: 1.05rem;
    font-style: normal;
    max-width: 40%;
    padding-top: 2rem;
    text-align: left;
}

.mapa-endereco h4 {
    font-family: Arial, sans-serif;
    font-size: 1.10rem;
    font-style: normal;
    font-weight: 600;
    padding-top: 2rem;
}

.mapa-endereco p {
    padding-top: 1rem;
    text-wrap: wrap;
}

/*Estilização do Formulario*/

.contato-container {
    background-color: #566E4D;
    text-align: center;
}

.contato-card {
    max-width: 60%;
    margin: auto;

}

.titulo-contato {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Playpen Sans', cursive;
    font-style: italic;
    font-weight: 600;
    padding: 2rem;
}

.contato-card {
    font-family: 'Playpen Sans', cursive;
    text-align: left;
}

.contato-card fieldset {
    background-color: ghostwhite;
    border-radius: 5px;
    box-shadow: inset;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    padding: 1rem;
}

.contato-card label,
input {
    background-color: ghostwhite;
    max-width: 50%;
    margin-bottom: 1rem;
}

.contato-card label::after {
    content: " *";
    color: red;
}

.contato-card input {
    border: none;
    border-bottom: 2px solid #8ea087;
    font-style: normal;
    padding: 1rem;
    width: 100%;
}

.contato-card input,
textarea:focus {
    outline: none;
}

.contato-card textarea {
    background-color: ghostwhite;
    font-family: 'Playpen Sans', cursive;
    font-style: normal;
    padding: 1rem;
    text-transform: uppercase;
}

.contato-botao {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    width: 30%;
}

.contato-botao .botao {
    background-color: #8ea087;
    border-radius: 5px;
    color: #fff;
    font-family: 'Playpen Sans', cursive;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
}

.contato-botao .limpar {
    background-color: aliceblue;
    color: #8ea087;
}