@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;700&display=swap');


* {
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Estilização do cabeçalho*/

header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 430px;
    justify-content: space-between;
    max-width: 100%;
}

header div {
    align-items: center;
    display: flex;
    font-size: 1.75rem;
    font-weight: 400;
    height: 60px;
    justify-content: space-evenly;
    margin: 5px 5px;
    width: 15%;
}

header div span {
    font-size: 1.25rem;
    font-weight: 400;
}


nav {
    display: flex;
    gap: 20px;
    padding: 10px;
    height: 50px;
    margin: 5px 5px;
}

nav a {
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

nav a:hover {
    cursor: pointer;
    font-weight: 600;
}

nav a:active {
    font-weight: 700;
}

.lupa {
    margin-top: -5px;
    width: 30px;
    height: 30px;
}


.footer {
    align-items: center;
    background-color: #566E4D;
    display: flex;
    gap: 15%;
    justify-content: center;
    padding: 1.75rem;
}

.icons {
    cursor: pointer;
    display: flex;
    gap: 20%;
}

.footer p {
    color: white;
    font-family: 'Playpen Sans', cursive;
    font-size: 0.80rem;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
}