@import url(./global.css);
@import url(./sobreMim.css);
@import url(./contato.css);

/*Estilização do main*/

main {
    background-color: #bcd4b3;
    max-width: 100%;
}

main h1 {
    background-color: #bcd4b3;
    border-bottom: 2px solid #8ea087;
    color: #4B4F58;
    font-family: 'Playpen Sans', cursive;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    margin: auto;
    max-width: 85%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    word-wrap: break-word;
}

/*Estilização dos cards*/

.content {
    border-bottom: 2px solid #8ea087;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem auto;
    max-width: 85%;
    padding-bottom: 2rem;
}

.card {
    color: #35373bc7;
    max-width: 85%;
    text-align: center;
}

.card img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    padding-top: 2rem;
    text-align: center;

}

.card h3 {
    color: #434343;
    font-family: 'Playpen Sans', cursive;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    text-align: center;
}

.card button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
}

.card button:hover {
    font-weight: 700;
    background-color: #97b090;
}

/*Estilização Produtos*/

.produtos {
    background-color: #566E4D;
    color: white;
    text-align: center;

}

.produtos h2 {
    font-family: 'Playpen Sans', cursive;
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    margin: auto;
    max-width: 85%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    word-wrap: break-word;
}

.banner {
    max-width: 85%;
    text-align: center;
}

.card-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    margin: auto;
    margin-bottom: 3rem;
    max-width: 85%;
    gap: 15px;
    text-align: center;
}

.card-produtos img {
    margin-top: 1rem;

}

.card-produtos h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-produtos p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.75rem;
}

/*Estilização Saiba Mais*/

.saiba-mais {
    margin: auto;
    max-width: 100%;
}

.saiba-mais h1 {
    border-top: 2px solid #8ea087;
    max-width: 85%;
}

.moda-card {
    align-items: center;
    background-color: #bcd4b3;
    border-bottom: 2px solid #8e8e8e;
    display: flex;
    gap: 3%;
    height: 100%;
    justify-content: space-between;
    max-width: 85%;
    margin: 1rem auto;
}

.moda-card p {
    display: flex;
    color: #434343;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-align: justify;
    margin-top: 3%;
    margin-bottom: 5%;
}

.moda-card img {
    margin-bottom: 5%;
    margin-top: 3%;
    height: auto;
    width: 50%;
}

.videos {
    background-color: #566E4D;
    margin: auto;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.videos p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
    max-width: 40%;
    word-spacing: 1rem;

}

.video-um,
.video-dois {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: auto;
    max-width: 85%;
    padding-bottom: 4%;

}

/*Estilização Informe*/

.informe {
    background-color: #bcd4b3;
    display: flex;
    margin: auto;
    max-width: 85%;
    padding: 4% 3% 1%;
}

.informe__card {
    align-items: center;
    border-top: 2px solid #8ea087;
    border-bottom: 2px solid #8e8e8e;
    display: flex;
    gap: 100px;
    height: 100%;
    justify-content: flex-end;
    margin: auto;
}

.informe p {
    align-content: center;
    color: #434343;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
    max-width: 40%;
    max-height: 50%;
    text-align: justify;
}

.informe img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 45%;
    max-height: 60%;

}